.tile, .keyboardKey {
  width: 6vh;
  height: 6vh;
  border-radius: 3px;
  margin: 2px;
  color: black;
  line-height: 6vh;
  font-size: 4vh;
  font-weight: 900;
  text-align: center;
}

.tileRow {
  display: flex;
  flex-direction: 'row';
}

.keyboard, .flexColumn {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.keyboardKey {
  cursor: pointer;
  min-width: fit-content;
  max-width: 1vw;
  font-size: 100%;
  padding-left: 10px;
  padding-right: 10px;
}
