.tile, .keyboardKey {
  width: 5vh;
  height: 5vh;
  padding: 10px;
  border-radius: 3px;
  margin: 2px;
  color: black;
  line-height: 5vh;
  font-size: 4vh;
  font-weight: 900;
}

.tileRow {
  display: flex;
  flex-direction: 'row';
}

.keyboard, .flexColumn {
  display: flex;
  flex-direction: column;
  align-items: center;

}

.keyboardKey {
  cursor: pointer;
  min-width: fit-content;
  max-width: 1vw;
  font-size: 100%;
}
