.tile {
  width: 10vh;
  height: 10vh;
  border-radius: 3px;
  margin: 2px;
  color: black;
  line-height: 10vh;
  font-size: 2rem;
  font-weight: 900;
}

.tileRow {
  display: flex;
  flex-direction: 'row';
}
